* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/**Boot CSS**/
:root {
  --titleColor: rgb(255, 255, 255);
  --textColor: rgb(255, 255, 255);
  --backColor: rgb(39, 182, 204);
  --headerColor: rgb(214, 23, 173);
  --footerColor: rgb(49, 52, 98);
  --extrasColor: rgb(64, 69, 128);
  --titleMobileSize: 28px;
  --titleDesktopSize: 38px;
}
html,
body {
  height: 100%;
}
body {
  background-color: rgb(39, 182, 204);
}
input {
  border: 0;
}
img {
  width: 100%;
  max-width: 400px;
  border-radius:1.50rem;
}
header {
  padding-left: 0rem;
}
.center {
  max-width: 1280px;
  padding: 0 12%;
  margin: 0 auto;
}

.w33 {
  width: 33.3%;
  padding: 0 10px;
}

.w50 {
  padding: 0 10px;
  width: 50%;
}
.w20 {
  padding: 0 6px;
  width: 20%;
}
.w60 {
  padding: 0 6px;
  width: 60%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

/**EstilizaÔøΩÔøΩo do site**/
.sucesso {
  display: none;
  position: fixed;
  right: 20px;
  top: 60px;
  padding: 15px 2%;
  z-index: 999;
  color: #008000;
  font-weight: bold;
  font-size: 14px;
  background: #dff2bf;
}

.overlay-loading {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
}

.overlay-loading img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header {
  padding: 20px 0;
  background-color: var(--headerColor);
  text-align: center;
}
header > section.loja{
  display:flex;
  flex-direction:column;
  text-align:center;
  color: white;
  margin-right: 5%;
}
div button.desktop{
  border-radius:0;
}
.logo a {
  text-decoration: none;
  color: var(--titleColor);
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: var(..titleDesktopSize);
}

.mobile {
  display: none;
}
nav .desktop ul {
  position: relative;
  top: 6px;
  list-style-type: none;
  font-weight: 400;
}
nav.desktop li {
  font-weight: 400;
  font-size: 15px;
  padding: 0 30px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
}
nav.desktop a {
  color: var(--titleColor);
  text-decoration: none;
}
nav.desktop a:hover {
  text-decoration: underline;
}
header nav ul {
  width: 21rem;
  align-items: center;
}
section.banner-container {
  width: 100%;
  height: 600px;
  position: relative;
}

.banner-single {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.desktop{
  color: white;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.6);
}
section.banner-container form {
  width: 98%;
  max-width: 500px;
  z-index: 2;
  position: relative;
  top: 250px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
section.banner-container form h2 {
  color: white;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

section.banner-container form input[type="email"] {
  width: 100%;
  height: 66px;
  margin-top: 10px;
  background: white;
  color: #333;
  font-size: 22px;
  padding-left: 10px;
}
section.banner-container form input[type="submit"] {
  width: 100%;
  height: 66px;
  margin-top: 10px;
  background: rgb(60, 0, 209);
  color: white;
  cursor: pointer;
  font-size: 22px;
  border: 0;
}
section.descricao-autor {
  text-align: center;
  background-color: var(--backColor);
  padding: 40px 0;
}

section.descricao-autor h2 {
  font-size: 32px;
  font-weight: bold;
  color: var(--titleColor);
}

section.descricao-autor p {
  font-size: 16px;
  color: var(--textColor);
  font-weight: 600;
  margin-top: 10px;
}
section.especialidades {
  padding: 40px 0;
  background: #e2e2e2;
}

section.especialidades h2.title {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  color: #999;
}

.box-especialidade {
  margin: 40px 0;
  padding: 0 30px;
  text-align: center;
}

.box-especialidade h3 {
  color: #404580;
  font-size: 40px;
}

.box-especialidade h4 {
  font-weight: 300;
  font-size: 25px;
  color: #bababa;
}

/*Paginacao*/

.paginacao {
  margin: 20px 0;
  text-align: center;
}

.paginacao a {
  font-size: 18px;
  margin: 4px 8px;
  display: inline-block;
  padding: 3px 4px;
  border: 1px solid #404580;
  background-color: #ffe800;
  border-radius: 25%;
  text-decoration: none;
  color: #0000ff;
  font-weight: 600;
}

.paginacao a.page-selected {
  background: rgb(220, 220, 220);
}
.box-especialidade p {
  color: #444;
  font-size: 15px;
  margin-top: 10px;
}
section.extras {
  padding: 30px 0;
  background: var(--extrasColor);
}
.content {
  max-width: 100px;
}
.box-especialidade .table {
  width: 100%;
  max-height: auto;
}
.nav-paginacao.audio {
  position: relative;
  display: flex;
}
.servicos-container,
.depoimentos-container {
  padding: 0 50px;
}
.nav-paginacao input {
  width: 20px;
}
section.extras .title {
  color: white;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 15px;
}

.depoimento-single {
  padding: 15px 0;
  border-bottom: 1px solid #5056a0;
}

p.depoimento-descricao {
  font-size: 15px;
  color: white;
  font-weight: 300;
}

p.nome-autor {
  font-size: 15px;
  color: white;
  margin-top: 5px;
  font-weight: bold;
}

.servicos ul {
  margin: 20px 0;
}

.servicos li {
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
  font-weight: 300;
}

footer {
  background: var(--footerColor);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  padding-right: 5%;
}
footer.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
footer.fa-cart-plus {
  color: white;
}
i.fas.fa-cart-plus {
  color: white;
  height: 16px;
  margin-bottom: 2rem;
}

button {
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 4rem;
  font-size: none;
  background: none;
  align-items: right;
}
section.erro-404 h2 {
  text-align: center;
  color: #444;
  font-weight: 400;
  font-size: 28px;
  border-top: 2px solid #444;
}

section.erro-404 p {
  margin-top: 8px;
  text-align: center;
  font-size: 16px;
  color: #444;
  font-weight: 300;
}

section.erro-404 a {
  color: #444;
}
.wraper-404 {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  left: 50%;
  padding: 0 2%;
  max-width: 1280px;
  text-align: center;
  position: absolute;
  top: 50%;
}
#map {
  width: 100%;
  height: 400px;
}

.contato-container {
  padding: 40px 0;
  text-align: center;
}

.contato-container input[type="text"] {
  margin: 8px 0;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 8px;
  font-size: 16px;
  max-width: 800px;
  color: #444;
}

.contato-container textarea {
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  padding-left: 8px;
  font-size: 16px;
  max-width: 800px;
  resize: vertical;
  color: #444;
}

.contato-container input[type="submit"] {
  background: var(--headerColor);
  width: 140px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.bullets span {
  margin: 0 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #444;
}

.bullets span.active-slider {
  background: white;
}

.box-especialidade table {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}

@media screen and (max-width: 700px) {
  header {
    padding: 0 auto;
  }
  nav.desktop, header hr {
    display: none;
  }

  nav.mobile {
    display: flex;
  }
div.desktop.logo{
  float: none;
  text-align: center;
}
  .logo a {
    font-size: var(--titleMobileSize);
    margin: 0 auto;
    /*  float:none;
*/
  }
  .botao-menu-mobile {
    font-size: 24px;
    cursor: pointer;
    color: var(--titleColor);
  }

  nav.mobile ul {
    top: 55px;
    z-index: 3;
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    text-align: center;
  }

  nav.mobile li {
    font-weight: 300;
    width: 100%;
    display: block;
    background: white;
    border-bottom: 1px solid #ccc;
    font-size: 17px;
    padding: 8px 0;
  }
  nav.mobile li a {
    display: block;
    color: #444;
    text-decoration: none;
  }
  .table .audio {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  header > section.loja{
  display:none;
  }
  img {
    float: none !important;
    display: block;
    margin: 0 auto;
    border-radius: 1.15rem;
  }
  header {
    padding-left: 0rem;
  }

  .w50 {
    padding: 20px;
    width: 100%;
  }

  .w33 {
    width: 100%;
    padding: 20px;
  }

  .box-especialidade {
    padding: 40px 20px;
    margin: 0;
  }
}
